
body,
input,
textarea {
  color:#333;
  font:15px/1.67 'Lato', monospace;
  -webkit-font-smoothing:antialiased;
  }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

h2,
h3 {
  margin:0;
  font-weight:bold;
  font-family: 'Lato', sans-serif;
  }

h1 {
  color: #f06;
  font-size:32px;
  font-family: 'Oswald', sans-serif;
  margin:20px 0 20px 0;
  line-height:1em;
  letter-spacing: 7px;
  text-transform: uppercase;
  }



p {
  margin:0 0 20px 0;
  }
  p:last-child { margin-bottom:0;}

/* Links */
a {
  color: #333;
  text-decoration:none;
  }
  a:hover { color:#f06; }

.content {
  margin: 20%;
}

.contact {
  margin: 20px 0 15px 0;
}

.contact a {
  padding-right: 16px;
}

.about {
  color: #777;
  font-size: 80%
}
