---
---
<!DOCTYPE html>
<html>
<head>
  <title>ianvilleda {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Pacifico|Oswald:400,700' rel='stylesheet' type='text/css'>
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
</head>
<body>
  <div id='map'>
    <!-- <img src='img/screen.svg' width='100%' alt='screen'/> -->
  </div>
  <div id='screen'></div>
  <div class='container'>
    {{content}}
  </div>

</body>
